{{#each messages}}
	<div class="row message {{ self ? 'self' : ''}}">
	  <div class="message-number">#{{number}}</div>
	  <p class="infos">
	  	<span class="pseudo">{{self ? "Me" : pseudo}}</span>, 
	  	<time class="date" title="{{date}}">{{date}}</time>
	  </p>
	  <p class="msg">{{message}}</p>
	</div>
{{/each}}